@import "../../variables";

.banner {
	width: 100%;
	height: auto;
}

.bannerMobile {
	display: none;
}

.registerSection {
	display: none;
}

.goldText {
	position: absolute;
	top: 280px;
	right: 100px;
	// padding-left: 50px;
	// margin-right: 100px;
	// width: 100vw;
	// border: 3px solid #73AD21;
	// height: auto;
}

.section1 {
	// border: 2px solid red;

	width: 70%;
	margin: 150px auto 0 auto;

	display: flex;
	// flex-wrap: wrap;
	// flex: 1 1 345px;
	justify-content: space-between;
}

.section2 {
	// border: 2px solid red;

	width: 70%;
	margin: 40px auto 0 auto;

	display: flex;
	// flex-wrap: wrap;
	// flex: 1 1 345px;
	justify-content: space-between;
}

.section3 {
	// border: 2px solid red;

	width: 70%;
	margin: 40px auto 0 auto;

	display: flex;
	// flex-wrap: wrap;
	// flex: 1 1 345px;
	justify-content: space-between;
}

.section4 {
	width: 70%;
	height: auto;
	display: flex;
	margin: 0px auto 0 auto;
	justify-content: space-between;
}

@media only screen and (max-width: 500px) {
	.registerSection {
		margin: 10px auto 0 auto;
	}

	.section1 {
		margin: 10px auto 0 auto;
	}
	.section2 {
		margin: 10px auto 0 auto;
	}
	.section3 {
		margin: 10px auto 0 auto;
	}

	.section4 {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1400px) {
	.registerSection {
		// border: 2px solid red;

		width: 90%;
		margin: 0 auto 0 auto;

		display: flex;
		// flex-wrap: wrap;
		// flex: 1 1 345px;
		justify-content: space-between;
	}

	.registerSection h2 {
		color: black !important;
	}

	.section1,
	.section2,
	.section3,
	.section4 {
		width: 90%;
	}

	.goldText {
		display: none;
	}

	.banner {
		display: none;
	}

	.bannerMobile {
		width: 100%;
		height: auto;
		display: block;
	}
}
