@import "../../variables";
.boxCalculater {
	// background-color: rgb(243, 190, 190);
	// padding: 0 0 50px 0;
	margin: 0 auto 0 auto;
	border-radius: 20px;
	width: 100%;
	// border: 1px solid black;
	background-color: #f1f1f1; /* For browsers that do not support gradients */
	background-image: linear-gradient(
		66deg,
		rgba(255, 255, 255, 1) 58%,
		rgba(241, 241, 241, 1) 100%
	);
	box-shadow: 0 25px 30px 0px rgba(0, 0, 0, 0.1);
}

.inputTextBox {
	background-color: #f0f0f0;
	height: 30px;
	padding: 10px;
	border-radius: 10px;
	border-collapse: collapse;
	border: 1px solid #f0f0f0;
}

.containerRow {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.containerRowNoWrap {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.containerRowDiv {
	width: 25%;
	margin-right: 30px;
}

.containerRowDiv2 {
	width: 25%;
	max-width: 400px;
	margin-left: 40px;
	border-left: 1px solid #eee;
}

.containerRowDiv2 {
	width: 35%;
}

.containerRowContact {
	width: 100%;
	// border: 1px solid red;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.containerRowRight {
	display: flex;
	flex-direction: row;
	width: 100%;
	// flex-wrap: wrap;
	justify-content: flex-end;
	// border: 1px solid red;
}

.containerRowCenter {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	// border: 3px solid #ce3bf3;
}

.containerCol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
}

.containerColWidth {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
}

.containerColWidth2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
	margin-left: 30px;
}

.containerRowWidth100 > div {
	width: 100px;
}

.widthFormInput {
	width: 100%;
	margin: 0px 0px 30px 30px;
}

.widthFormInputCol2 {
	width: 290px;
	margin: 0 0 0 30px;
}

.widthFormInputColDownMonth {
	width: 80px;
	margin: 0 0 0 50px;
}

.widthFormInputColDownMonthPercent {
	width: 400px;
	margin: 0 0 0 0;
}

.formControl {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;

	p {
		display: flex;
		flex-direction: column;
		margin: 0px;
		padding-bottom: 5px;
	}

	input {
		//background-color: #f0f0f0;
		height: 30px;
		padding: 10px;
		border-radius: 10px;
		border-collapse: collapse;
		border: 1px solid #f0f0f0;
	}
}

.stickerConfiguration2 {
	padding: 15px 10px 0 0;
	width: 140px;
}

.buttonCalInstallment {
	background-color: #272727;
	color: white;
	padding: 12px 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #eeeeee;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
	font-size: 0.7rem;
}

.buttonRegister {
	background-color: #d00000;
	color: white;
	padding: 12px 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #eeeeee;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
	font-size: 0.7rem;
}

.mustField {
	color: red;
}

.boxRadiusSmall {
	padding: 10px;
	border: 1px solid #009473;
	border-radius: 5px;
	margin: 2px 10px;
	cursor: pointer;
	align-items: center;

	.dateReceiveDesciption {
		font-size: 0.7rem;
		padding: 0px;
		color: #000000;
	}

	.dateReceive {
		font-size: 1rem;
		padding: 0px;
		font-weight: bold;
		// color: #009473;
	}

	.price {
		font-size: 0.75rem;
		padding: 0px;
		// color: #009473;
	}
}

.selectBoxInput {
	display: none;
}

.optionShipping {
	list-style-type: none;
}

.selectBoxOption {
	display: block;
	padding: 0px;
}

.active {
	div {
		color: white;
	}

	.boxNameCar {
		margin: 0px;
		display: flex;
		flex-direction: column;
		background-color: #d00000;
		border-radius: 15px;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5px 10px;
	}
}

.deactive {
	div {
		color: #000000;
	}

	.boxNameCar {
		margin: 0px;
		display: flex;
		flex-direction: column;
		//background-color: white;
		border-radius: 15px;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5px 10px;
	}
}

.deactive:hover {
	div {
		color: white;
	}

	.boxNameCar {
		margin: 0px;
		display: flex;
		flex-direction: column;
		background-color: #d00000;
		border-radius: 15px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.containerColCar {
	// margin: 0px;
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	// justify-content: center;
	// padding: 0px 0px 0px 10px;
}

.center {
	justify-content: center;
}

.selectCar {
	color: black;
}

.dropdownSelectPercent {
	// border: 3px solid yellow;
	// margin-top: 17px;

	label {
		color: #000000;
		font-size: 16px;
		padding-bottom: 10px;
		// border: 3px solid #ce3bf3;
	}

	select {
		width: 177px;
		height: 32px;
		// border: 0.5px solid #ce3bf3;
		border-radius: 2px;
		font-size: 12px;
	}

	.btnSelect {
		border: 1px solid #944700;
		//background-color: white;
		width: 197px;
		padding: 8px;
		font-size: 14px;
		margin-bottom: 5px;
	}

	.btnSelect:hover {
		background-color: #009473;
		color: white;
		border: none;
	}

	.active {
		background-color: #009473;
		color: white;
		border: none;
	}
}

.dropdownSelect {
	// border: 3px solid yellow;
	margin: 15px 0;

	label {
		color: #000000;
		font-size: 18px;
		font-weight: 900;
		display: block;
		//padding-bottom: 10px;
		// border: 3px solid #ce3bf3;
	}

	select {
		width: 177px;
		height: 32px;
		// border: 0.5px solid #ce3bf3;
		border-radius: 2px;
		font-size: 12px;
	}

	.btnSelect {
		border: 1px solid #944700;
		//background-color: white;
		width: 197px;
		padding: 8px;
		font-size: 14px;
		margin-bottom: 5px;
	}

	.btnSelect:hover {
		//background-color: #009473;
		color: white;
		border: none;
	}

	.active {
		background-color: #009473;
		color: white;
		border: none;
	}
}

// <<<<<<<<<<========== Start DropDawn =======>>>>>>>>>>>
.selectBox {
	display: block;
	// width: 500px;
	height: 50px;
	font-size: 14px;
	color: black;
	border-radius: 20px;
	background-color: #f0f0f0;

	li {
		float: none;
	}
}

.arrow {
	z-index: 2;
	position: absolute;
	top: 20px;
	right: 12px;
	width: 10px;
	height: 10px;
}

.selectBoxCurrent {
	position: relative;
	//box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
	font-weight: bold;
}

.selectBoxCurrent:focus + .selectBoxList {
	opacity: 1;
	-webkit-animation-name: none;
	animation-name: none;
}
.selectBoxCurrent:focus + .selectBoxList .selectBoxOption {
	cursor: pointer;
}
.selectBoxCurrent:focus .select-box__icon {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
	opacity: 0.3;
	transition: 0.2s ease;
}
.selectBoxValue {
	display: flex;
}
.selectBoxValue img {
	z-index: 2;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: auto;
}

.selectBoxInput {
	display: none;
}
.selectBoxInput:checked + .selectBoxInputText {
	display: block;
}

.selectBoxInputText {
	// z-index: -1;
	display: none;
	width: 100%;
	height: 50px;
	margin: 0 0 0 60px;
	padding: 15px 15px;
	font-size: 18px;
}

.selectBoxInputText i {
	font-size: 18px;
	padding-right: 10px;
	margin-left: 5px;
}
.selectBoxInputText .positionIcon {
	left: 40px;
	top: 20px;
	width: 18px;
	height: 18px;
	margin-left: 5px;
}

.selectBoxList {
	z-index: 3;
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	list-style: none;
	opacity: 0;
	-webkit-animation-name: HideList;
	animation-name: HideList;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: step-start;
	animation-timing-function: step-start;
}
.selectBoxOption {
	width: 100%;
	margin: 0;
	display: block;
	padding: 20px 20px;
	background-color: #ededed;
}
.selectBoxOption:hover,
.selectBoxOption:focus {
	color: #546c84;
	background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
	from {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	to {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}

@keyframes HideList {
	from {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	to {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
}

// <<<<<<<<<<========== End DropDawn =======>>>>>>>>>>>

.previewCar {
	width: 450px;
}

.divPreviewCarMobile {
	width: 450px;
	display: none;
}

.divPreviewCarDestop {
	width: 450px;
	display: block;
}

@media only screen and (max-width: 600px) {
	.previewCar {
		width: 100%;
	}
}

.boxHighlight {
	background-color: #a70000;
	border-radius: 20px;
	margin-left: 100px;
	padding: 10px 20px;
	color: white;
	background-image: linear-gradient(225deg, #ff0000, #a70000);
	// min-width: 100px;
	height: 40px;
	margin: 12px 50px;
	font-size: 20px;
	font-weight: 900;
}

.boxHighlightKey {
	padding: 10px;
}

.boxHighlightKeyOr {
	padding: 20px 10px;
	font-size: 14px;
}

.boxHighlightRed {
	background-color: #a70000;
	border-radius: 10px;
	margin: auto 0px auto 0;
	padding: 10px 15px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	// border: 1px solid red;
	background-image: linear-gradient(225deg, #ff0000, #a70000);
}

.boxHighlightGreen {
	background-color: #00a725;
	border-radius: 10px;
	margin: auto 0px auto 0;
	padding: 10px 15px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	background-image: linear-gradient(225deg, #00ff37, #00a725);
	// border: 1px solid red;
}

.boxHighlightGreen a {
	color: white;
}

.groupContact {
	position: relative;
	top: -10px;
	padding-right: 60px;
	// border: 1px solid red;
}

.textPrice {
	padding: 40px 0 0px 0;
	display: inline-block;
	.key {
		color: #000000;
		font-size: 16px;
		font-weight: 1000;
		display: inline-block;
	}
	.value {
		color: #000000;
		font-size: 20px;
		font-weight: 500;
	}
	.keyTotal {
		color: #000000;
		font-size: 16px;
		font-weight: 1000;
		display: inline-block;
	}
}

.btnShippingOption {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #009473;

	padding: 10px;
	margin: 5px 10px;

	font-size: 12px;

	text-align: left;

	h4 {
		float: left;
		font-size: 16px;
		color: #009473;
	}
}

.btnShippingOption:hover {
	background-color: #009473;
	h4 {
		color: white;
	}
}
.active {
	background-color: #009473;
	div,
	h4 {
		color: white;
	}
}

@media only screen and (max-width: 500px) {
	.divPreviewCarMobile {
		width: 100%;
		display: flex;
		padding: 5px 20px;
	}
	.divPreviewCarDestop {
		width: 450px;
		display: none;
	}

	.textPrice {
		padding: 5px 0 0px 0;
	}

	.widthFormInput {
		width: 100%;
		margin: 5px 0px 5px 0px;
	}

	.boxHighlightRed {
		margin: 5px 0px 5px 0;
		padding: 15px 20px;
		display: relative;
		right: 10px;
		// width: 100p;
		// border: 3px solid green;
	}

	.boxHighlightGreen {
		margin: 5px 0px 5px 0;
		padding: 15px;
		display: relative;
		right: 20px;
	}

	.groupContact {
		position: static;
		display: flex;
		justify-content: flex-end;
		// top: 0px;
		// padding-right: 0px;
		// border: 1px solid red;
	}

	.boxCalculater {
		padding: 0 0 10px 0;
	}

	.containerRowRight {
		display: flex;
		flex-direction: row;
		width: 100%;
		// flex-wrap: wrap;
		justify-content: flex-end;
		// border: 1px solid red;
		margin: 0 2px;
	}
}

.textPrice {
	padding: 0px 0px 20px;
	margin: 0px;
}

@media only screen and (max-width: 1000px) {
	.divPreviewCarMobile {
		width: 100%;
		display: flex;
		padding: 5px 20px;
	}
	.divPreviewCarDestop {
		width: 450px;
		display: none;
	}

	.containerColWidth {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.containerColWidth2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 0;
	}

	.widthFormInputCol2 {
		width: 100%;
		margin: 0 0 0 10px;
	}
	.widthFormInputColDownMonthPercent {
		width: 100%;
		margin: 0 0 0 0;
	}
	.boxHighlight {
		width: 100%;
		margin: 10px 20px;
		font-size: 20px;
		text-align: center;
	}
	.containerRowNoWrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.groupContact {
		position: static;
		display: flex;
		justify-content: center;

		// top: 0px;
		// padding-right: 0px;
		// border: 1px solid red;
	}

	.containerRowRight {
		display: flex;
		flex-direction: row;
		// width: 200px;
		// flex-wrap: wrap;
		justify-content: flex-end;
		// border: 1px solid red;
		margin: 0 2px;
	}

	.containerRowDiv {
		padding: 10px;
		margin-right: 0;
	}

	.containerRowDiv2 {
		border-left: none;
		margin-left: 0;
	}
	.textPrice {
		padding: 0px 0px 0px 10px;
		margin: 0px;
	}
}
