@import "../../variables";
.boxReister {
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
	background-color: #f1f1f1; /* For browsers that do not support gradients */
	background-image: linear-gradient(225deg, #f1f1f1, #ffffff);
}

.inputTextBox {
	background-color: #f0f0f0;
	height: 30px;
	padding: 10px;
	border-radius: 10px;
	border-collapse: collapse;
	border: 1px solid #f0f0f0;
}

.containerRow {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.containerRow p {
	font-weight: bold;
}

.containerNoRow {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.containerRowEnd {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0 10px 10px 10px;
}

.containerCol {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}

.widthFormInput {
	width: 200px;
}

.formControl {
	display: flex;
	flex-direction: column;
	width: 240px;
	padding: 25px 0px 25px 25px;

	p {
		display: flex;
		flex-direction: column;
		margin: 0px;
		padding-bottom: 5px;
	}

	input {
		background-color: #f0f0f0;
		height: 40px;
		padding: 10px;
		border-radius: 10px;
		border-collapse: collapse;
		border: 1px solid #f0f0f0;
	}
}

@media only screen and (min-width: 200px) {
	.specialTextBox {
		background-color: #ff0000;
		height: 100px;
	}
}

.carSelect {
	padding: 0 0 0 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

@media only screen and (max-width: 1400px) {
	// .containerRow {
	//     padding: 2px;
	// }

	.formControl {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 10px;

		p {
			display: flex;
			flex-direction: column;
			margin: 0px;
			padding-bottom: 5px;
		}

		input {
			background-color: #f0f0f0;
			height: 30px;
			padding: 10px;
			border-radius: 10px;
			border-collapse: collapse;
			border: 1px solid #f0f0f0;
		}
	}
}

.buttonCalInstallment {
	background-color: #272727;
	color: white;
	padding: 12px 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #272727;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.buttonRegister {
	background-color: #d00000;
	color: white;
	padding: 12px 20px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #d00000;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.mustField {
	color: red;
}

.boxRadiusSmall {
	//padding: 10px;
	border-radius: 5px;
	margin: 2px 10px;
	cursor: pointer;
	align-items: center;

	.dateReceiveDesciption {
		font-size: 0.7rem;
		padding: 0px;
		color: #000000;
	}

	.dateReceive {
		font-size: 1rem;
		padding: 0px;
		font-weight: bold;
		// color: #009473;
	}

	.price {
		font-size: 0.75rem;
		padding: 0px;
		// color: #009473;
	}
}

.selectBoxInput {
	display: none;
}

.optionShipping {
	list-style-type: none;
}

.selectBoxOption {
	display: block;
	padding: 0px;
}

.activeHere {
	font-size: 11px;
	padding: 10px;
	display: block;
}

.deactiveHere {
	font-size: 11px;
	padding: 10px;
	visibility: hidden;
}

.active {
	div {
		color: white;
	}

	.boxNameCar {
		margin: 0px;
		display: flex;
		flex-direction: column;
		background-color: #d00000;
		border-radius: 15px;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5px 10px;
	}
}

.deactive {
	div {
		color: #000000;
	}

	.boxNameCar {
		margin: 0px;
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 15px;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5px 10px;
	}
}

.deactive:hover {
	div {
		color: white;
	}

	.boxNameCar {
		margin: 0px;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		color: black;
		border-radius: 15px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.containerColCar {
	// margin: 0px;
	display: flex;
	flex-direction: column;
	// flex-wrap: wrap;
	// justify-content: center;
	// padding: 0px 0px 0px 10px;
}

.center {
	justify-content: center;
}

.selectCar {
	color: black;
}

.chooseCar {
	width: 100%;
	max-width: 150px;
}

@media only screen and (max-width: 500px) {
	.active {
		div {
			color: white;
		}

		.boxNameCar {
			margin: 0px;
			display: flex;
			flex-direction: column;
			background-color: #d00000;
			border-radius: 15px;
			flex-wrap: wrap;
			justify-content: center;
			padding: 5px 10px;
			font-size: 0.8rem;
		}
	}

	.deactive {
		div {
			color: #000000;
		}

		.boxNameCar {
			margin: 0px;
			display: flex;
			flex-direction: column;
			background-color: white;
			border-radius: 15px;
			flex-wrap: wrap;
			justify-content: center;
			padding: 5px 10px;
			font-size: 0.8rem;
		}
	}

	.chooseCar {
		width: 90px;
	}

	.containerCol {
		padding: 10px 0px 0px 0;
	}

	.boxRadiusSmall {
		margin: 2px 2px;
		padding: 5px 0;
	}

	.carSelect {
		padding: 0 0 0 10px;
	}
}
